* {
  margin: 0;
  padding: 0;
}
main {
  height: 100vh;
  background: url(../image/mur/NoirMur.avif);
  display: flex;
  justify-content: space-around;
}
#poker {
  height: 400px;
  width: 400px;
  position: absolute;
  z-index: 9;
  top: 495px;
  left: -398px;
  /* visibility: hidden; */
}

.actifPoker {
  /* visibility: hidden; */

  animation: poker 5s linear forwards;
}
@keyframes poker {
  0% {
    transform: translateX(0px, 0px);
  }
  50% {
    transform: translateX(840px);
  }
  100% {
  }
}
